.pokemonCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  width: 300px;
  height: 150px;
  text-align: center;
  padding: 0 15px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.pokemonCard img {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.pokedex {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
}

@media screen and (max-width: 850px) {
  .pokedex {
    width: 80%;
  }

  .pokemonCard {
    width: 100%;
  }
}

h1 {
  text-align: center;
}